/ProyectoGestion/build/
/GestionCorredores/nbproject/private/
/GestionCorredoresConsola/nbproject/private/
/GestionCorredoresInterfazGrafica/nbproject/private/
/GestionCorredoresInterfazGrafica/build/
/primerComponente/nbproject/private/
/PrimerComponentePrueba/nbproject/private/
/primerComponente/build/
/primerComponente/dist/